.flexbox_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.flexbox_main {
    display: flex;
    flex-direction: column;
}

.item-block_image {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding: 5px 5px;

    &:hover {
        border: 2px solid black;
        border-radius: 10px;
        transform: scale(1.25);
        cursor: help;
    }
}

.item-description_parent {
    min-width: 300px;
    max-width: 300px;
}

.item-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-description_image {
    margin-top: 20px;
    width: 100px;
    height: 100px;

}

.item-description_name {
    text-align: center;
    font-size: 24px;
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 2px 2px black;
}


.item-description_description {
    white-space: pre-line;
    align-self: flex-start;
    margin-top: 20px;
}

.playable-platinum-parent {
    display: flex;
    flex-direction: row;

    >* {
        margin-right: 30px;
    }
}