body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
  //margin: 12px;
}

.navbar {
  background: rgb(49, 46, 68);
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #eeeeee;
}

.icon-link {
  color: #eeeeee;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  & img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
}